UD 4/Act 7/DTD/Editorial.dtd

<!ELEMENT informe (cabecera, datos)>
<!ELEMENT cabecera (descripcion, fecha)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>

<!ELEMENT datos (region+)>
<!ELEMENT region (trimestre+)>
<!ATTLIST region nombre (Norte | Centro | Sur) #REQUIRED>

<!ELEMENT trimestre (librosVendidos)>
<!ATTLIST trimestre numero (1 | 2 | 3 | 4) #REQUIRED>

<!ELEMENT librosVendidos (#PCDATA)>
