UD 4/Act 1/DTD/BlibliotecaDeLibros.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT biblioteca (libro+)>
<!ELEMENT libro (titulo, autor, editorial, año, genero, isbn)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT año (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT isbn (#PCDATA)>
