UD 4/Act 1/DTD/M_Biblioteca.dtd

<!ELEMENT coleccion (videojuego+)>

<!ELEMENT videojuego (titulo, desarrollador, genero, plataforma, año, calificacion)>
<!ATTLIST videojuego>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT desarrollador (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT plataforma (#PCDATA)>
<!ELEMENT año (#PCDATA)>
<!ELEMENT calificacion (#PCDATA)>
