UD 4/Act 6/DTD/CFGS.dtd

<!ELEMENT Modulos (Modulo+)>
<!ELEMENT Modulo (Contenidos)>
<!ATTLIST Modulo nombre CDATA #REQUIRED>
<!ELEMENT Contenidos (UnidadDidactica+)>
<!ELEMENT UnidadDidactica (Nombre)>
<!ATTLIST UnidadDidactica tipo (Teorica | Practica) #REQUIRED
          descripcion CDATA #REQUIRED>
<!ELEMENT Nombre (#PCDATA)>
